$base-color: #007acc;


$introduction-width: 480px;
$introduction-width-1400 :360px;

@mixin media-1400{
  @media screen and (max-width: 1400px) {
    @content;
  }
}
@mixin media-1200{
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin media-720{
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin media-480{
  @media screen and (max-width: 480px) {
    @content;
  }
}