html {
  height: 100%;
}

body {
  margin: 0;
  font-family: DengXian, 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, Tahoma, Simsun, sans-serif;
  display: flex;
  height: 100%;
}

header {
  width: 480px;
  height: 100%;
  overflow-y: auto;
  background-color: #80e1ff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1400px) {
  header {
    width: 360px;
  }
}

.introduction-header {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007acc;
  color: #ffffff;
  padding: 20px 0;
  box-sizing: border-box;
}

@media screen and (max-height: 720px) {
  .introduction-header {
    height: 240px;
  }
}

.introduction-header .name {
  align-self: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.introduction-body {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.introduction-body ul {
  padding: 40px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: #000000;
}

.introduction-body ul li {
  width: 320px;
  display: flex;
}

.introduction-body ul li:not(:last-child) {
  margin-bottom: 10px;
}

.introduction-body ul li .item-name {
  width: 80px;
}

.introduction-body ul li .item-detail {
  width: 240px;
  word-break: break-all;
}

.introduction-body ul li .item-detail a {
  color: #000000;
  text-decoration: none;
}

nav {
  padding-top: 110px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav > div {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 5px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #000000;
  transition-duration: 0.2s;
  background-color: #ffffff;
  cursor: pointer;
}

nav > div:hover:not(.active) {
  color: #ffffff;
  background-color: #007acc;
}

nav .active {
  padding-right: 10px;
  background-color: #ffffff;
}

.introduction-footer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.introduction-footer > div {
  margin: 0 1em;
  cursor: pointer;
  user-select: none;
}

.content {
  flex-grow: 1;
  padding: 40px calc((100% - 1280px) / 2);
  height: calc(100% - 80px);
  width: 800px;
  overflow-y: auto;
}

@media screen and (max-width: 1400px) {
  .content {
    padding: 40px calc((100% - 1160px) / 2);
  }
}

section {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 10px;
}

section > ul {
  list-style: none;
  padding: 0;
}

section > ul li {
  margin: 10px 0;
}

section > ul li .delimiter, section > ul li .date {
  font-weight: normal;
}

section > ul li h4 {
  margin-bottom: 10px;
}

section > ul li p {
  text-indent: 2em;
  margin: 5px 0;
}

section > ul li > div {
  margin: 10px 0;
}

section > div {
  margin: 10px 0;
}
